<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bourbon.name %>
</p>

<p>
  <strong>Alcohol:</strong>
  <%= @bourbon.alcohol %>
</p>

<p>
  <strong>Image:</strong>
  <%= @bourbon.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bourbon.description %>
</p>

<p>
  <strong>Toffee:</strong>
  <%= @bourbon.toffee %>
</p>

<p>
  <strong>Woody:</strong>
  <%= @bourbon.woody %>
</p>

<p>
  <strong>Tannic:</strong>
  <%= @bourbon.tannic %>
</p>

<p>
  <strong>Char:</strong>
  <%= @bourbon.char %>
</p>

<p>
  <strong>Sweet:</strong>
  <%= @bourbon.sweet %>
</p>

<p>
  <strong>Grainy:</strong>
  <%= @bourbon.grainy %>
</p>

<p>
  <strong>Vanilla:</strong>
  <%= @bourbon.vanilla %>
</p>

<p>
  <strong>Corny:</strong>
  <%= @bourbon.corny %>
</p>

<p>
  <strong>Buttery:</strong>
  <%= @bourbon.buttery %>
</p>

<p>
  <strong>Heat:</strong>
  <%= @bourbon.heat %>
</p>

<p>
  <strong>Dark fruit:</strong>
  <%= @bourbon.dark_fruit %>
</p>

<p>
  <strong>Citrus fruit:</strong>
  <%= @bourbon.citrus_fruit %>
</p>

<p>
  <strong>Floral:</strong>
  <%= @bourbon.floral %>
</p>

<p>
  <strong>Spicy:</strong>
  <%= @bourbon.spicy %>
</p>

<p>
  <strong>Herbal:</strong>
  <%= @bourbon.herbal %>
</p>

<p>
  <strong>Malty:</strong>
  <%= @bourbon.malty %>
</p>

<%= link_to 'Edit', edit_bourbon_path(@bourbon) %> |
<%= link_to 'Back', bourbons_path %>
