<div class="bourbon">
  <div> 
    <img src="{{ image }}">
    <p><strong>{{ name }}</p>
    <p><strong>Alcohol: </strong> {{ alcohol }}%</p>
    <p><strong>Description: </strong> {{ description }}</p>
    <p><strong>Airplane id:</strong> {{ airplane_id }}</p>
    <p><strong>Number of seats: </strong> {{ seatCount }}</p>
    <p>ratings</p>
  </div>  
    <button class="btn btn-success">Rate It</button>
    <button class="btn btn-info"><a href='#'>Back</a></button>  
</div>